<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.Ventas"
            android:usesCleartextTraffic="true"
            android:networkSecurityConfig="@xml/network_security_config"
            tools:targetApi="31">


        <activity android:name=".MenuActivity"
                  android:exported="true"/>

        <activity android:name=".OperacionesActivity"
                  android:exported="true"/>

        <activity
                android:name=".UsuariosActivity"
                android:exported="true"/>

        <activity
                android:name=".PosicionesActivity"
                android:exported="true"/>


        <activity android:name=".JugadoresActivity"
                  android:exported="true"/>
        <activity
                android:name=".CrearJugadorActivity"
                android:exported="true"/>
        <activity
                android:name=".ListarJugadoresActivity"
                android:exported="true"/>
        <activity
                android:name=".EliminarJugadorActivity"
                android:exported="true"/>

        <activity
                android:name=".CrearUsuarioActivity"
                android:exported="true"/>

        <activity
                android:name=".CrearPosicionActivity"
                android:exported="true"/>


        <activity android:name=".EditarJugadorActivity"
                  android:exported="true"/>

        <activity android:name=".EditarUsuarioActivity"
                  android:exported="true"/>

        <activity android:name=".EditarPosicionActivity"
                  android:exported="true"/>

        <activity
                android:name=".loginActivity.LoginActivity2"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.EquipoActivity"/>
        <activity android:name=".ui.ListaEquiposActivity"/>
        <activity android:name=".ui.EditarEquipoActivity"/>
        <activity android:name=".ui.EquiposMenuActivity"/>
        <activity android:name=".ui.BuscarEquipoActivity"/>
        <activity
                android:name=".MainActivity"
                android:exported="false"/>



    </application>

</manifest>